:root {
    --font-family: "Inter", sans-serif;
}
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 20rem;
    overflow-x: hidden;
    scroll-behavior: auto;
}
body {
    min-height: 100vh;
    background: #fff;
    position: relative;
}
@media screen and (max-width: 1920px) {
    html {
        font-size: calc(16vw / 19.2);
    }
}
@media screen and (max-width: 768px) {
    html {
        font-size: calc(16vw / 3.75);
    }
}
input,
button,
textarea {
    font-size: inherit;
}
input {
    border-radius: 0px;
    outline: none;
}
button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}
a {
    color: inherit;
}
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
button,
a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
img {
    display: block;
}

.container {
    max-width: 71.25rem;
    margin: 0 auto;
    height: 100%;
}
@media (max-width: 768px) {
    .container {
        max-width: 100%;
        margin: 0 0.9375rem;
        height: 100%;
    }
}

/* header start */
header {
    width: 100%;
    height: 9.375rem;
    box-shadow:
        0 0.375rem 0.9375rem 0 rgba(107, 39, 86, 0.1),
        0 0.25rem 0.25rem 0 rgba(192, 73, 92, 0.2);
    background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0.85) 100%);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 0 0.9375rem;
}
.header__logo img {
    width: 7.5rem;
    height: auto;
}
header .container {
    max-width: 100%;
}
.header__wrap {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
}
.header__wrap nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -7.5rem;
}
.header__wrap nav ul {
    display: flex;
    align-items: center;
    gap: 3.125rem;
}
.header__wrap nav a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.125rem;
    text-transform: uppercase;
    text-align: center;
    color: #3d3d3d;
}
.mobile__burger {
    display: none;
}
@media (max-width: 768px) {
    .mobile__burger {
        display: block;
    }
    .header__wrap nav {
        display: none;
    }
    .header__wrap {
        justify-content: space-between;
    }
    .header__logo img {
        width: 5rem;
        height: auto;
    }
    header {
        width: 100%;
        height: 5.625rem;
        padding: 0;
    }
}
/* header end */

/* main start */
.main {
    background-image: url("../images/main_bg.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
}
.main__top {
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 auto;
    padding: 21.6875rem 0 13.5rem 0;
}
.main__top img {
    width: 35rem;
    height: auto;
}
.main__top__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.125rem;
    text-transform: uppercase;
    text-align: center;
    color: #1d1d1d;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 3rem;
}
.main__top__text span {
    font-size: 1.5rem;
}
.main__top__date {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #1d1d1d;
    padding: 3rem 0 1.5rem 0;
}
.main__top a {
    display: block;
    padding: 0.75rem 3.5625rem;
    width: 22.9375rem;
    background: #c0495c;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 2.125rem;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}
.main__accordion {
    max-width: 53.125rem;
    margin: 0 0 0 auto;
    padding: 4.25rem 0;
}
.main__accordion .date_logo {
    width: 35rem;
}
.main__accordion__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2.625rem;
    text-transform: uppercase;
    color: #000;
    padding: 2.625rem 0;
}

summary::-webkit-details-marker {
    display: none;
}
summary::-moz-list-bullet {
    list-style-type: none;
}
summary::marker {
    display: none;
}
summary {
    display: inline-block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    position: relative;
    padding-right: 0.75rem;
    user-select: none;
}
summary:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -1.5625rem;
    transform: translateY(-50%);
    width: 1.5625rem;
    height: 0.8125rem;
    background-image: url("../images/arrow_bottom.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
details[open] > summary:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -1.5625rem;
    transform: translateY(-50%);
    width: 1.5625rem;
    height: 0.8125rem;
    background-image: url("../images/arrow_top.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
summary:focus {
    outline: none;
}
details {
    display: block;
    margin-bottom: 2.375rem;
}
details div {
    padding-top: 1.125rem;
}
details p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    text-align: justify;
    color: #000;
    margin: 0.75rem 0;
}
details p span {
    text-decoration: underline;
}
details ul {
    margin-left: 1.5625rem;
}
details ul li {
    list-style-type: disc;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    text-align: justify;
    color: #000;
}
.main__accordion__buttons {
    display: flex;
    gap: 1.25rem;
    padding-top: 0.25rem;
}
.main__button__download {
    display: block;
    padding: 0.75rem 0;
    width: 23rem;
    background: #eb6b43;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 2.125rem;
    text-align: center;
    color: #fff;
}
.main__button__form {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 2.125rem;
    text-align: center;
    color: #fff;
    padding: 0.75rem 0;
    width: 22.9375rem;
    background: #c0495c;
}
.swiper-slide {
    height: auto;
    /* margin-right: 7.375rem; */
}
.news__main .swiper-slide img {
    width: 100%;
    height: 100%;
}
.swiper-wrapper {
    align-items: stretch;
}
.swiper__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.25rem;
    padding: 4.25rem 0;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    width: auto;
}
.swiper-pagination-bullet {
    background: none;
    border: 0.0625rem solid #1d1d1d;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background: #1d1d1d;
}
.swiper-button-prev2,
.swiper-button-next2 {
    cursor: pointer;
}
.swiper-button-prev2 img,
.swiper-button-next2 img {
    width: 3.0625rem;
    height: auto;
}
.news__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2.625rem;
    text-transform: uppercase;
    color: #000;
    padding: 4.25rem 0 2.625rem;
}
@media (max-width: 768px) {
    .main {
        background-image: url("../images/main_bg_mobile.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: top;
    }
    .main__top img {
        width: 14.1875rem;
        height: auto;
    }
    .main__top {
        max-width: 100%;
        width: 100%;
        align-items: center;
        padding-top: 30.75rem;
        padding-bottom: 5.25rem;
    }
    .main__top__text {
        font-size: 0.75rem;
        gap: 8px;
        padding-top: 1.0625rem;
    }
    .main__top__text span {
        font-size: 1rem;
    }
    .main__top__text span:first-child {
        font-size: 0.75rem;
    }
    .main__top__date {
        font-size: 1rem;
        padding: 1.6875rem 0 1.5rem 0;
    }
    .main__top a {
        padding: 0.75rem;
        width: 14.125rem;
        font-size: 1.125rem;
        margin: 0 auto;
    }
    .main__accordion {
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: 2.625rem 0;
    }
    .main__accordion .date_logo {
        width: 14.1875rem;
    }
    .main__accordion__title {
        font-size: 1.5rem;
        padding: 2.125rem 0;
    }
    summary {
        font-size: 1.125rem;
        padding-right: 0.75rem;
    }
    summary:after {
        content: "";
        position: absolute;
        top: 50%;
        right: -25px;
        transform: translateY(-50%);
        width: 24px;
        height: 12px;
        background-image: url(../images/arrow_bottom.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    details p {
        font-size: 0.875rem;
    }
    details ul li {
        font-size: 0.875rem;
    }
    .main__accordion__buttons {
        display: flex;
        flex-direction: column;
        gap: 2.125rem;
        padding-top: 4px;
        align-items: center;
    }
    .main__button__download {
        padding: 0.75rem 0;
        width: 14.1875rem;
        font-size: 1.125rem;
    }
    .main__button__form {
        padding: 0.75rem 0;
        width: 14.1875rem;
        font-size: 1.125rem;
    }
    .news__title {
        font-size: 1.5rem;
        text-transform: uppercase;
        color: #000;
        padding: 5.25rem 0 2.125rem;
    }
    .swiper__btn {
        gap: 1.25rem;
        padding: 1.875rem 0;
    }
}
/* main end */

/* studio start */
.studio {
    background-image: url("../images/studio.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.studio__wrap {
    padding-top: 15.625rem;
}
.studio__main {
    background-image: url("../images/studio2.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 49.1875rem;
    height: 51.125rem;
    margin: 0 -1.25rem 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.studio__main__logo {
    width: 12.5rem;
    height: auto;
}
.studio__main__vk svg {
    width: 3.4375rem;
    height: auto;
}
.studio__main__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.125rem;
    text-align: center;
    color: #000;
    max-width: 32.5rem;
    padding: 1.5rem 0 2rem;
}
.studio__main__title {
    display: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #000;
}
.studio__main__bg {
    display: none;
    width: calc(100% + 30px);
    margin: 0 -15px;
    padding-top: 42px;
}
@media (max-width: 768px) {
    .studio {
        background-image: none;
    }
    .studio__wrap {
        padding-top: 4.125rem;
    }
    .studio__main {
        background-image: none;
        width: auto;
        height: auto;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .studio__main__logo {
        display: none;
    }
    .studio__main__title {
        display: block;
    }
    .studio__main__text {
        font-size: 1.125rem;
        text-align: left;
        max-width: 100%;
        padding: 2.125rem 0 1.125rem;
    }
    .studio__main__bg {
        display: block;
    }
}
/* studio end */

/* footer start */
.footer {
    background-image: url("../images/footer.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 4.25rem;
}
.project {
    padding: 4.25rem 0;
}
.project__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2.625rem;
    text-transform: uppercase;
    color: #000;
}
.project__list {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding-bottom: 1.5rem;
    padding-top: 2.625rem;
}
.project__list2 {
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.project__list__item {
    max-width: 15.5625rem;
    width: 100%;
}
.project__list__item img {
    margin: 0 auto;
    width: 8.1875rem;
    height: auto;
}
.project__list__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.75rem;
    text-align: center;
    color: #000;
    padding-top: 0.75rem;
}
.contacts {
    padding: 4.25rem 0;
}
.contacts__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2.625rem;
    text-transform: uppercase;
    color: #000;
    padding-bottom: 2.625rem;
}
.contacts__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.125rem;
    text-align: justify;
    color: #000;
    padding-bottom: 1.125rem;
}
.contacts__email {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: #000;
    padding-bottom: 0.75rem;
}
.contacts__email a {
    text-decoration: underline;
}
.contacts__tel {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1rem;
    color: #000;
}
.contacts__tel_desc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.75rem;
    color: #555;
    padding-top: 0.25rem;
}
.contacts__name {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: #000;
    padding-bottom: 0.75rem;
}
.contacts__item:not(:last-child) {
    padding-bottom: 2.125rem;
}
.copy {
    border-top: 0.0625rem solid #555;
    padding: 2.625rem 0rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.125rem;
    text-align: right;
    color: #000;
}

@media (max-width: 768px) {
    .footer {
        background-image: url(../images/footer_mobile.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: bottom;
        margin-top: 0;
    }
    .project {
        padding: 5.25rem 0 0rem;
    }
    .project__title {
        font-size: 1.5rem;
    }
    .project__list,
    .project__list2 {
        display: flex;
        flex-direction: column;
        padding-bottom: 1.5rem;
        gap: 1.5rem;
        padding-top: 2.625rem;
    }
    .project__list__item {
        max-width: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }
    .project__list__item img {
        margin: 0;
        width: 8.125rem;
        height: auto;
    }
    .project__list__text {
        width: 100%;
        font-size: 0.75rem;
        text-align: center;
        padding-top: 0;
    }
    .contacts {
        padding: 2.625rem 0;
    }
    .contacts__title {
        font-size: 1.5rem;
        padding-bottom: 2.625rem;
    }
    .contacts__subtitle {
        font-size: 1.125rem;
        text-align: left;
        padding-bottom: 1.125rem;
    }
    .contacts__email {
        font-size: 1rem;
        padding-bottom: 0.75rem;
    }
    .contacts__tel {
        font-size: 1rem;
    }
    .contacts__item:not(:last-child) {
        padding-bottom: 1rem;
        border-bottom: 0.0625rem solid #555;
    }
    .contacts__item:not(:first-child) {
        padding-top: 1rem;
    }
    .copy {
        font-size: 1.125rem;
    }
}
.modalform {
    pointer-events: none;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.39);
    width: 100vw;
    height: 100%;
    transition: opacity linear 0.5s;
    z-index: 9998;
}
.modalformContent {
    opacity: 0;
    transform: scale(0.4);
    font-family: Radiotechnika, sans-serif;
    display: flex;
    border-radius: calc(20 * (100vw / 1920));
    gap: calc(20 * (100vw / 1920));
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: calc(30 * (100vw / 1920)) calc(40 * (100vw / 1920));
    background-color: #fff;
    max-width: 510px;
    width: 100%;
    transition-property: opacity, transform;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}
.modalOpen > .modalformContent {
    opacity: 1;
    transform: scale(1);
    transition-property: opacity, transform;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}
.modalform_container-formBody {
    margin-top: 10px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 20px;
}
.modalform_container-formBody button {
    width: 100%;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.725rem;
    text-align: center;
    color: #fff;
    padding: 0.65rem 0;
    width: 100%;
    background: #c0495c;
}
.modalform_container-form {
    margin-top: 40px;
    grid-area: form;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.modalform_container-form form {
    max-width: 330px;
    margin: 0 auto;
}
.modalform_container-form form input {
    border: 1px solid #000;
    border-radius: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #1d1d1d;
    padding: 8px;
}
.modalform_container-form h5 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #000;
}

.modalOpen {
    pointer-events: auto;
    opacity: 1;
    transition: opacity linear 0.5s;
}
#modalform {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
}
#feedbackMessage {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #1d1d1d;
}
@media (max-width: 768px) {
    .modalformContent {
        padding: 30px 0;
    }
    .modalform_container-form {
        max-width: 330px;
        margin: 0 auto;
    }
}

.nominationForm {
    border: 1px solid #000;
    border-radius: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #1d1d1d;
    padding: 8px;
    width: 100%;
}

.mobile__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 4;
    transition: top 0.3s ease;
}
.mobile__menu__container {
    margin: 30px 15px;
}
.menu__close {
    display: flex;
    margin: 0 0 0 auto;
    justify-content: end;
}
.mobile__menu__container ul {
    width: 100%;
    padding-top: 31px;
}
.mobile__menu__container ul a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    width: 100%;
    display: block;
}
.mobile__menu__container ul li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.mobile__menu__container ul li:not(:last-child) {
    margin-bottom: 18px;
}
.hidden {
    display: none;
}
